{% extends 'template.html' %} 


{% block headjs %}

<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script> 

{% endblock %} 


{%block bodytype%}

<body class="bodyIndex">

{% endblock %} 


{% block bodycontent %}

<div class="row" style="margin-top:100px">
    <div class="input-field col s6 offset-s3">
        <select id="model_select" onchange="select_model(this.value)">
            <option value="" disabled selected>Please Select a Model</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Train New Model</option>
        </select>
        <label>Model</label>
    </div>
</div>

<div class="row" style="margin-left:20px;margin-right:20px">

    <div class="col s8 offset-s2">
        <h4>
            Input Gene Sequence
        </h4>

        <form action="#" id='form_control' name='form_control'>
            <input type='hidden' name='model' id="model" value="all" />

            <p>
                <label>
                    <input name="group1" type="radio" id="radio1" checked onclick="rdoBtn(this.id)" />
                    <span style="color:black;font-size: 150%;">Protein Sequence</span>
                </label>

                <!--&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <label><input name="group1" type="radio" id="radio2" onclick="rdoBtn(this.id)"/>
                                <span style="color:black;font-size: 150%;">Fasta</span>
                        </label>-->
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <label>
                    <input name="group1" type="radio" id="radio3" onclick="rdoBtn(this.id)" />
                    <span style="color:black;font-size: 150%;">UniProt ID</span>
                </label>
                <div class="form-group">
                    <textarea class="form-control" id="sequenceArea" placeholder="MFLGGTISTPPASLRLRSTLNPQNAVTQSSSQATFPAAMQRKPPSYSISDEDLESRGFLLRRTTEGLNLDQLNSVFAAVGFPRRDTAKIEVALQHTDALLWVEYEKTRRPVAFARATGDGVFNAIIWDVVVDPSFQSCGLGKAVMERLIEDLQVKGICNIALYSEPRVLGFYRPLGFVSDPDGIKGMVFIRKQRNKK"></textarea>
                </div>
            </p>
            <p>
                <label>
                    <input name="group1" type="radio" id="radio4" onclick="rdoBtn(this.id)" />
                    <span style="color:black;font-size: 150%;">Upload Fasta File</span>
                </label>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </p>
        </form>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue btn modal-trigger pulse" onclick="goChrome('https://nibtehaz.github.io/NORTH-app/')" >
        <i class="fas fa-question"></i>
    </a>
</div>

<a onclick="submit()">
    <button style="margin-left: 45%;margin-bottom:4%;margin-top:1%" class="btn waves-effect waves-light btn-large" type="submit">Submit
        <i class="fas fa-paper-plane"></i>
    </button>
</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init();
    });
</script> 

{% if err %}
<script>
    alert("Please Upload a valid '.fasta' file");
</script> 
{% endif %}

<script>
    elems = document.querySelectorAll('select');
    instances = M.FormSelect.init(elems, {});

    get_models();
</script> 

{% endblock %}